<footer
  style="
    text-align: center;
    padding: 20px;
    border-top: 1px solid ;
  "
>
  <p>&copy; 2025 Your Name. All rights reserved.</p>
  <p>
    📧 Email:
    <a href="mailto:steve-essrmail@outlook.com">steve-essrmail@outlook.com</a>
    <br />
    🌐 Website:
    <a href="https://stevessr.eu.org" target="_blank">https://stevessr.eu.org</a
    ><br />
    🌐 Website:
    <a href="https://aaca.eu.org" target="_blank">https://aaca.eu.org</a>
  </p>
  <p>
    <a href="https://icp.gov.moe/?keyword=20240144" target="_blank"
      >萌ICP备20240144号</a
    >
  </p>
</footer>
