{{ if .Site.Params.Comment }}
<!--上级 globalscript.html-->
{{ end }} {{ if .Site.Params.enableAplayer }}
{{ $playlistSource := (default "json/aplayer.json" .Site.Params.musicplayer.local_json) | relURL }}
{{ if .Site.Params.musicplayer.jsonurl }}
{{ $playlistSource = .Site.Params.musicplayer.jsonurl }}
{{ end }}
<link rel="stylesheet" href='{{ "css/custom-audio-player.css" | relURL }}' />
<div id="APlayer-c" data-custom-audio-player-root="true" data-source="{{ $playlistSource }}"></div>
<script type="application/javascript" src='{{ "js/custom-audio-player.js" | relURL }}'></script>
{{ end }}
