{{ if .Site.Params.Comment }}
<!--上级 globalscript.html-->
{{ end }}
{{ if and .Site.Params.enableDplayer (not .Site.Params.enableAplayer) }}
{{ $inlinePlaylist := slice
  (dict "name" .Site.Params.Aplayer.Name1 "artist" .Site.Params.Aplayer.Artist1 "url" .Site.Params.Aplayer.Url1 "cover" .Site.Params.Aplayer.Cover1)
  (dict "name" .Site.Params.Aplayer.Name2 "artist" .Site.Params.Aplayer.Artist2 "url" .Site.Params.Aplayer.Url2 "cover" .Site.Params.Aplayer.Cover2)
  (dict "name" .Site.Params.Aplayer.Name3 "artist" .Site.Params.Aplayer.Artist3 "url" .Site.Params.Aplayer.Url3 "cover" .Site.Params.Aplayer.Cover3)
  (dict "name" .Site.Params.Aplayer.Name4 "artist" .Site.Params.Aplayer.Artist4 "url" .Site.Params.Aplayer.Url4 "cover" .Site.Params.Aplayer.Cover4)
}}
<link rel="stylesheet" href='{{ "css/custom-audio-player.css" | absURL }}' />
<div
  id="APlayer-d"
  data-custom-audio-player-root="true"
  data-inline-playlist='{{ jsonify $inlinePlaylist | htmlEscape }}'
></div>
<script type="application/javascript" src='{{ "js/custom-audio-player.js" | absURL }}'></script>
{{ end }}
